<nav
  class="navbar sticky-top flex-md-nowrap navbar-expand-lg d-flex justify-content-between"
>
  <div class="">
    <a class="navbar-brand col-sm-2 col-md-2 mr-0" routerLink="#"
      ><img
        src="../../assets/logo/logo-cooper-blue.png"
        alt=""
        class="brand-logo"
    /></a>
  </div>
  <div class="d-flex">
    <div class="clinic">
      <img src="../../assets/logo/ClinicLogo.png" alt="" class="logo" />
    </div>
    <div class="">
      <!-- <img src="../../assets/svg/sub-menu.svg" alt="" /> -->
      <ion-icon src="../../assets/svg/sub-menu.svg"></ion-icon>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <a
    type="button"
    id="right-icon"
    aria-expanded="false"
    (click)="toggle()"
    [class]="rightIcon"
  >
    <span class="material-icons right">
      chevron_right
    </span>
  </a>
  <div class="row">
    <div [class]="toggleClass">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex" href="#">
            <span class="fas fa-home"></span>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" href="#">
            <span class="fas fa-file-alt"></span>
            <span>
              Add PGT Order
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" href="#">
            <span class="fas fa-calendar-alt"></span>
            <span>
              Schedule Courier
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" href="#">
            <span class="fas fa-file-upload"></span>
            <span>
              Submit Biopsy Information
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" href="#">
            <span class="fas fa-spinner"></span>
            <span>
              Pending PGT Results
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" href="#">
            <span class="fas fa-cube"></span>
            <span>Reported PGT Results</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" href="#">
            <span class="fas fa-signal"></span>
            <span>Analytics</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" href="#">
            <span class="fas fa-medkit"></span>
            <span>
              Order Kits
            </span>
          </a>
        </li>
      </ul>
      <div class="toggle">
        <a
          type="button"
          id="sidebar"
          aria-expanded="false"
          class="float-right"
          (click)="toggle()"
        >
          <span class="material-icons">
            chevron_left
          </span>
        </a>
      </div>
    </div>
    <main class="col-md-10 col-lg-10 main">
      <div class="row content-holder">
        <div class="notifications col-md-6">
          <div class="card-header head-text">Notifications</div>
          <div class="d-flex not-content">
            <div class="d-flex flex-column">
              <p class="sub-head">45</p>
              <div class="sub-content">Reported PGT Cases</div>
              <div class="know-more">Know more icon></div>
            </div>
            <div class="d-flex flex-column">
              <p class="sub-head">55</p>
              <div class="sub-content">Reported PGT Cases</div>
              <div class="know-more">Know more icon></div>
            </div>
            <div class="d-flex flex-column">
              <p class="sub-head">10K<sup>+</sup></p>
              <div class="sub-content">Reported PGT Cases</div>
              <div class="know-more">Know more icon></div>
            </div>
          </div>
        </div>
        <div class="analytics col-md-6">
          <div class="card-header head-text">Analytics</div>
          <div class="">
            <img
              src="../../assets/images/analytics.png"
              alt="analytics"
              class="chart"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <footer>
            <div class="footer-image-container">
              <img
                src="../../assets/images/footer-image.jpg"
                alt="image"
                class="footer-image"
              />
            </div>
            <div class="artisan">
              Powered by @artisan
            </div>
          </footer>
        </div>
      </div>
    </main>
  </div>
</div>
