.wrapper {
  min-height: 100vh;
}
.navbar {
  position: sticky;
  width: 100%;
  background-color: var(--navBlue) !important;
  border-bottom: 2px solid var(--borderBlue);
  max-height: 8vh;
}
.navbar-brand {
  color: var(--mainBlue) !important;
  padding-left: 0px;
}
.brand-logo {
  width: 8rem;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clinic {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 2px;
}
.sub-menu {
  color: var(--mainBlue);
  font-size: 1.25rem;
}
.sub-menu-holder {
  padding-top: 5px;
  display: inline-block;
}
.wrapper .sidebar {
  position: fixed;
  height: 100%;
  background-color: var(--mainBlue) !important;
  max-width: 9rem !important;
  overflow-y: visible;
  transition: all 0.5s;
  width: 9rem;
}
ul {
  margin: 0;
}
.wrapper .sidebar ul li {
  height: 3.5rem;
  border-bottom: 1px solid var(--navBlue);
}
.wrapper .sidebar ul li a {
  position: relative;
  padding: 0px 16px;
  color: whitesmoke !important;
  line-height: normal;
  height: 100%;
}
.wrapper .sidebar ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  background-color: var(--mainBlue);
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}
.wrapper .sidebar ul li a span.title {
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background-color: var(--lightBlue);
  color: white;
  font-weight: 500;
  text-decoration: none;
}
/* .wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:hover:before
 {
  display: block;
} */

.list {
  padding: 0;
}

.link {
  display: flex;
  align-items: center;
}
.card-header {
  background-color: white;
  border-bottom: transparent;
}
.wrapper .main {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding: 20px 20px 0px 20px;
  width: calc(100% - 9rem);
  margin-left: 9rem;
  transition: width 0.5s ease;
  float: right;
}
.wrapper.lapse .sidebar {
  width: 3rem;
}
.wrapper.lapse .sidebar ul li {
  text-align: center;
}

.wrapper.lapse .sidebar ul li a span.icon {
}

.wrapper.lapse .sidebar ul li a span.title {
  display: none;
}

.wrapper.lapse .main {
  width: calc(100% - 3rem);
  margin-left: 3rem;
}
.card {
  margin-top: 4%;
}

.toggle-in {
  color: white;
  transform: rotate(90deg);
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 3rem;
}
.toggle-out {
  color: white;
  transform: rotate(-90deg);
  font-size: 3rem;
}
.wrapper.lapse .sidebar #sidebar {
  margin-top: -17px;
  margin-right: -19px;
}
.km-logo {
  color: var(--headTextLigtBlue);
  transform: rotate(-90deg);
  font-size: 2rem;
}
.content-holder {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2),
    0px 2px 3px 0px rgba(0, 0, 0, 0.14), 0px 6px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.not-content {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}
.artisan {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
}
.artisan-logo {
  height: 1rem;
}
.notifications {
}
.analytics {
  padding-top: 20px;
}
.head-text {
  font-size: 1.7rem;
  color: var(--headTextLigtBlue);
}

.sub-head {
  font-size: calc(18px + 10vh);
  color: var(--headTextDarkBlue);
  border-bottom: 1px solid lightgray;
  padding-bottom: 2.5rem;
}
.sub-content {
  font-size: 1.4rem;
  color: var(--headTextDarkBlue);
  margin-top: 1.5rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
  height: 4rem;
  line-height: normal;
}
.know-more {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--headTextLigtBlue);
}

.image-container {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.footer-image-container {
  display: flex;
  justify-content: center;
}
.footer-image {
  width: calc(20rem + 20vh);
  border-radius: 5px;
}
/* footer {
  position: absolute;
  bottom: 0;
} */
.wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -155px;
}
.fas {
  padding-right: 5px;
}
.logo {
  height: 3.4rem;
}
.fa-bars {
  color: var(--headTextDarkBlue);
}
/* .toggle {
  padding: 10px 10px 0px 0px;
} */

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.material-icons {
  font-size: 2.25rem;
}
.right {
  color: var(--mainBlue);
}

.chart {
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.sticky-top {
  position: sticky !important;
}

.row {
  margin: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-content-holder {
  margin-right: 3rem;
}

.analytics-content {
  margin-bottom: 2rem;
}

.first-container {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 2rem 1.5rem;
}
.km-holder {
  margin-top: 0.5rem;
}

.card-body {
  padding: 0rem;
}

.second-container {
  padding: 2rem 1.5rem;
}
.second-content {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
@media (max-width: 576px) {
  .not-content {
    margin-top: 3rem;
  }
  .brand-logo {
    width: 6rem;
  }
  .head-text {
    font-size: 1rem;
  }
  .navbar-brand {
    padding-top: 0;
    padding-bottom: calc(10px + 1vh);
  }
  .sub-head {
    font-size: calc(10px + 4vh);
    padding-bottom: 1.2rem;
  }
  .sub-content {
    margin-top: 0.5rem;
    font-size: calc(2px + 2vh);
    height: 4rem;
    padding-bottom: 0;
  }
  .know-more {
    font-size: 0.7rem;
  }
  .footer-image {
    width: calc(10rem + 20vh);
  }

  .sub-content-holder {
    margin-right: 1rem;
  }
  .wrapper .sidebar {
    z-index: 10;
  }
  .wrapper .main {
    width: calc(100% - 3rem);
    margin-left: 3rem;
  }
  .clinic {
    margin-top: -10px;
  }
  .sub-menu-holder {
    padding-top: 0px;
  }
  .km-holder {
    margin-top: 0rem;
    align-items: baseline;
  }
  .km-logo {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .sub-head {
    font-size: calc(10px + 8vh);
  }

  .footer-image {
    width: calc(15rem + 20vh);
  }
  .wrapper .main {
    width: calc(100% - 9rem);
    margin-left: 3rem;
  }
  .clinic {
    margin-top: -7px;
  }
}
@media (min-width: 768px) {
  .sub-head {
    font-size: calc(12px + 8vh);
  }
  .first-container {
    padding: 2rem 1.5rem 3rem 1.5rem;
  }
  .clinic {
    margin-top: 2px;
  }
}
@media (min-width: 992px) {
  .sub-head {
    font-size: calc(20px + 7vh);
  }
  .sub-content {
    font-size: calc(1rem + 1vh);
  }
}

@media (min-width: 1200px) {
  .sub-head {
    font-size: calc(16px + 9vh);
  }
}
