<div [class]="mainWrapper">
  <nav
    class="navbar sticky-top flex-md-nowrap navbar-expand-lg d-flex justify-content-between"
  >
    <div>
      <a class="navbar-brand mr-0" routerLink="#"
        ><img
          src="../../assets/logo/logo-cooper-blue.png"
          alt=""
          class="brand-logo"
      /></a>
    </div>
    <div class="nav-right">
      <span class="clinic">
        <img src="../../assets/logo/ClinicLogo.png" alt="" class="logo" />
      </span>
      <span class="sub-menu-holder">
        <ion-icon
          src="../../assets/svg/sub-menu.svg"
          class="sub-menu"
        ></ion-icon>
      </span>
    </div>
  </nav>
  <!-- <div class="d-flex body-holder"> -->
  <div class="sidebar">
    <ul class="list">
      <li>
        <a class="link active" href="#">
          <span class="icon">
            <ion-icon src="../../assets/svg/vector.svg"></ion-icon>
          </span>
          <span class="pt-light title">Home</span>
        </a>
      </li>
      <li>
        <a class="link" href="#">
          <span class="icon">
            <ion-icon src="../../assets/svg/half_square.svg"></ion-icon
          ></span>
          <span class="pt-light title">
            Add PGT Order
          </span>
        </a>
      </li>
      <li>
        <a class="link" href="#">
          <span class="icon">
            <ion-icon src="../../assets/svg/calendar.svg"></ion-icon>
          </span>
          <span class="pt-light title">
            Schedule Courier
          </span>
        </a>
      </li>
      <li>
        <a class="link" href="#">
          <span class="icon">
            <ion-icon src="../../assets/svg/copy.svg"></ion-icon>
          </span>
          <span class="pt-light title">
            Submit Biopsy Information
          </span>
        </a>
      </li>
      <li>
        <a class="link" href="#">
          <span class="icon">
            <ion-icon src="../../assets/svg/reload.svg"></ion-icon>
          </span>
          <span class="pt-light title">
            Pending PGT Results
          </span>
        </a>
      </li>
      <li>
        <a class="link" href="#">
          <span class="icon">
            <ion-icon src="../../assets/svg/hexagon.svg"></ion-icon>
          </span>
          <span class="pt-light title">Reported PGT Results</span>
        </a>
      </li>
      <li>
        <a class="link" href="#">
          <span class="icon">
            <ion-icon src="../../assets/svg/signal.svg"></ion-icon>
          </span>
          <span class="pt-light title">Analytics</span>
        </a>
      </li>
      <li>
        <a class="link" href="#">
          <span class="icon">
            <ion-icon
              src="../../assets/svg/kits.svg"
              class="side-kits"
            ></ion-icon>
          </span>
          <span class="pt-light title">
            Order Kits
          </span>
        </a>
      </li>
    </ul>
    <div class="toggle">
      <a
        type="button"
        id="sidebar"
        aria-expanded="false"
        class="float-right"
        (click)="toggle()"
      >
        <ion-icon
          src="../../assets/svg/dropdown-arrow.svg"
          [class]="toggleSide"
        ></ion-icon>
      </a>
    </div>
  </div>

  <main class="main">
    <div class="row content-holder">
      <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12 first-container">
        <div class="content">
          <div class="head-text pt-light">Notifications</div>
          <div class="not-content card-body">
            <div class="d-flex flex-column sub-content-holder">
              <div class="sub-head pt-demi">45</div>
              <div class="sub-content pt-book">Reported PGT Cases</div>
              <div class="d-flex km-holder">
                <div class="pt-book know-more">Know more</div>
                <div class="ml-2">
                  <ion-icon
                    src="../../assets/svg/dropdown-arrow.svg"
                    class="km-logo"
                  ></ion-icon>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column sub-content-holder">
              <div class="sub-head pt-demi">55</div>
              <div class="sub-content pt-book">Pending PGT Cases</div>
              <div class="d-flex km-holder">
                <div class="pt-book know-more">Know more</div>
                <div class="ml-2">
                  <ion-icon
                    src="../../assets/svg/dropdown-arrow.svg"
                    class="km-logo"
                  ></ion-icon>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <div class="sub-head pt-demi">10K<sup>+</sup></div>
              <div class="sub-content pt-book">Euploid Embryos</div>
              <div class="d-flex km-holder">
                <div class="pt-book know-more">Know more</div>
                <div class="ml-2">
                  <ion-icon
                    src="../../assets/svg/dropdown-arrow.svg"
                    class="km-logo"
                  ></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12 second-container"
      >
        <div class="content">
          <div class="head-text pt-light">Analytics</div>
          <div class="second-content card-body">
            <img
              src="../../assets/images/analytics.png"
              alt="analytics"
              class="chart"
            />
          </div>
        </div>
      </div>
    </div>
    <!--Banner container-->
    <div class="d-flex justify-content-center banner-container">
      <div class="footer-image-container">
        <img
          src="../../assets/logo/banner.png"
          alt="image"
          class="footer-image"
        />
      </div>
    </div>
    <div class="d-flex mt-auto justify-content-center">
      <footer>
        <div class="artisan">
          <span class="pt-book text-muted">Powered By </span>

          <img
            src="../../assets/logo/artisan-logo.png"
            alt=""
            class="artisan-logo"
          />
        </div>
      </footer>
    </div>
  </main>
</div>
